# Godot 4+ specific ignores
.godot/

# Ignore library files but not the gdextension file
project/bin/*
!project/bin/android
project/bin/android/*
!project/bin/android/.gitkeep
!project/bin/linux
project/bin/linux/*
!project/bin/linux/.gitkeep
!project/bin/macos
project/bin/macos/*
!project/bin/macos/.gitkeep
!project/bin/windows
project/bin/windows/*
!project/bin/windows/.gitkeep
!project/bin/*.gdextension
.sconsign*.dblite

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# Other stuff
*.log

# VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json

# Visual Studio Code workspace file
*.code-workspace